<?xml version="1.0" encoding="utf-8" ?>
<!--beans: Spring IOC容器，包含Spring创建和管理的对象；-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.bailiban.day1.dao.impl.UserDaoImpl" />
    <bean id="userService" class="com.bailiban.day1.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>
    <bean id="client" class="com.bailiban.day1.Client">
        <property name="userService" ref="userService" />
    </bean>
</beans>